@use './animations';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

$poppins: 'Poppins', sans-serif;
$medium: 1650px;
$small: 1120px;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: $poppins;
}

#root {
   height: 100vh;
   width: 100%;
   position: absolute;
   overflow: hidden;
}

h1 {
   font-size: 200px;
   font-weight: 900;
   line-height: 220px;
   margin-left: 10px;
   @media screen and (max-width: $medium) {
      font-size: 150px;
      line-height: 170px;
   }
   @media screen and (max-width: $small) {
      font-size: 100px;
      line-height: 120px;
   }
}

p {
   font-size: 30px;
   margin-left: 10px;
   @media screen and (max-width: $small) {
      font-size: 20px;
   }
}

.wrapper {
   position: relative;
   top: 50%;
   transform: translateY(-60%);
}

.App-logo {
   position: fixed;
   width: 1000px;
   top: -400px;
   right: -400px;
   @media screen and (max-width: $medium) {
      width: 500px;
      top: -150px;
      right: -150px;
   }
}

.link,
.counter {
   font-size: 20px;
   padding: 15px 25px;
   background-color: black;
   color: white;
   position: relative;
   margin-left: 10px;
   margin-top: 20px;
   border: none;
   outline: none;
   cursor: pointer;
   text-decoration: none;
}

.link {
   border: 1px black solid;
   transition: 0.3s;

   &:hover {
      background-color: white;
      color: black;
      transition: 0.3s;
   }
}

nav {
   position: fixed;
   height: 100px;
   width: 100%;
}

nav ul {
   display: flex;
   list-style-type: none;
   padding: 25px;
   margin-top: 10px;
}

nav ul li {
   margin-right: 25px;
   font-size: 20px;
}

nav ul li a {
   color: black;
}
